
<!-- top-panel-->
<section class="top-panel">
  <div class="section__container top-panel__container">
    <ul class="top-panel__social-list">
      <li class="top-panel__social-item"><a target="_blank" href="http://www.gustomaestro.ru/feed.php" class="top-panel__social-item--rss"></a></li>
      <li class="top-panel__social-item"><a target="_blank" href="https://vk.com/gustomaestro" class="top-panel__social-item--vk"></a></li>
      <li class="top-panel__social-item"><a target="_blank" href="https://www.facebook.com/gustospb?ref=hl" class="top-panel__social-item--facebook"></a></li>
      <li class="top-panel__social-item"><a target="_blank" href="https://www.instagram.com/gustorestaurant/" class="top-panel__social-item--instagram"></a></li>
      <li class="top-panel__social-item"><a target="_blank" href="http://goo.gl/Ra2iEb" class="top-panel__social-item--tripadvisor"></a></li>
      <li class="top-panel__social-item"><a target="_blank" href="https://goo.gl/WMmoKW" class="top-panel__social-item--foursquare"></a></li>
    </ul>
    <ul class="section__text section__text--small top-panel__contacts-list">
      <li class="top-panel__contacts-item top-panel__contacts-item--phone"><a target="_blank" href="tel:78129033732">(812) 903 37 32</a></li>
      <li class="top-panel__contacts-item top-panel__contacts-item--address">Санкт-Петербург, Дегтярная ул., 1</li>
    </ul>
  </div>
</section>