.modal.fade#modalWorkshopOrder(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      button.close(type="button", data-dismiss="modal", aria-label="Close")
        span(aria-hidden="true") &times;
      .modal-body
        h2.section__subtitle.modal__title Записаться на мастер класс
        h3.section__text.modal__subtitle "Богатство Средиземноморья" с Фабрицио Фатуччи
        .modal__info
          ul.section__text.modal__info-list
            li.modal__info-item Чт #[span.modal__info-item--marked 17 Ноября 2015]
            li.modal__info-item #[span.modal__info-item--marked в 19:00]
            li.modal__info-item #[span.modal__info-item--marked.modal__info-item--bold#currentPrice 3700 руб.]

          .modal__info-check
            .modal__left-side
              p.section__text.section__text--small.modal__check-title Количество участников
            .modal__right-side
              .modal__choise-list
                span.modal__choise.modal__choise--minus#minusPerson
                input.modal__choise.modal__choise--number#personResult(type="text", value="2")
                span.modal__choise.modal__choise--plus#plusPerson
              p.section__text.section__text--small.modal__billet-left Осталось #[span#billetLeft 3 ] места
          .modal__info-check.modal__info-check--big-padding-bottom
            .modal__left-side
              p.section__text.section__text--small.modal__check-title Итого оплатить
            .modal__right-side
              span.section__text.section__text--bold.modal__result#resultPrice 7400 руб.

          form.modal__form#formOrder
            input.modal__input(type="text", name="name" placeholder="Имя и Фамилия")
            input.modal__input(type="tel", name="tel" placeholder="Телефон")
            input.modal__input(type="text", name="email" placeholder="E-mail")
            input.btn.modal__submit(type="submit", value="Записаться и оплатить")
            p.section__text.section__text--small.modal__text--explain После нажатия на кнопку «Записаться и оплатить» вы будете перенаправлены на страницу оплаты ЯНДЕКС.КАССЫ. После оплаты отправим электронные билеты на указанный email.

          h3.section__text.section__text--bold.section__text--serif.modal__subtitle--big-padding У меня есть сертификат
          form.modal__form#formCertificate
            input.modal__input(type="text", placeholder="Номер сертификата")
            input.btn.modal__submit(type="submit", value="Записаться")
