.modal.fade#modalOrderEvent(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      button.close(type="button", data-dismiss="modal", aria-label="Close")
        span(aria-hidden="true") &times;
      .modal-body
        h2.section__subtitle.modal__title.modal__subtitle--big-padding Заказть мероприятие

        form.modal__form#formOrderEvent
          input.modal__input(type="text", placeholder="Имя и Фимилия")
          input.modal__input(type="tel", placeholder="Телефон")
          input.modal__input(type="email", placeholder="E-mail")
          input.modal__input(type="number", min="1", placeholder="Количество человек")
          p.modal__input--date
            input.modal__input(type="text", placeholder="Желаемые даты")
            i.modal__icon-date
          textarea.modal__textarea(type="text", placeholder="Комментарий (по желанию)")
          input.btn.modal__submit(type="submit", value="Заказать")
