
<div id="modalCustomCertificate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog modal-dialog--custom-certificate">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <h2 class="section__subtitle modal__title modal__subtitle--big-padding">Сертификат на 
          <div class="modal__custom-rubles"><span id="customRublesResult" class="modal__custom-rubles-result">5000</span> 
            <div class="modal__custom-rubles-changes"><span id="customRublesPlus" class="modal__custom-rubles-change modal__custom-rubles-change--plus"></span> <span id="customRublesMinus" class="modal__custom-rubles-change modal__custom-rubles-change--minus"></span></div>
          </div> рублей
        </h2>
        <form id="formCustomCertificate" class="modal__form">
          <input type="text" placeholder="Кому" class="modal__input"/>
          <input type="text" placeholder="От кого" class="modal__input"/>
          <input type="tel" placeholder="Телефон получателя" class="modal__input"/>
          <input type="email" placeholder="E-mail получателя" class="modal__input"/>
          <input type="email" placeholder="Ваш E-mail" class="modal__input"/>
          <input type="submit" value="Оплатить и подарить сертификат" class="btn modal__submit"/>
          <p class="section__text section__text--small modal__text--explain">После нажатия на кнопку «Записаться и оплатить» вы будете перенаправлены на страницу оплаты ЯНДЕКС.КАССЫ. После оплаты отправим электронные билеты на указанный email.</p>
        </form>
      </div>
    </div>
  </div>
</div>