.modal.fade#modalCurrentCertificate(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      button.close(type="button", data-dismiss="modal", aria-label="Close")
        span(aria-hidden="true") &times;
      .modal-body
        h2.section__subtitle.modal__title.modal__subtitle--big-padding Подарить сертификат на определенный мастер-класс

        .selectbox__wrapper
          .selectbox.modal__selectbox#modalSelectbox
            span.selectbox__text.jsSelectboxResult Конюшня
          ul.selectbox__dropdown
            li.selectbox__item(data-date="Сб 10 января 2016", data-time="19:00", data-price="3700 руб."): p.selectbox__text Пирожок
            li.selectbox__item(data-date="Пт 18 марта 2015", data-time="12:00", data-price="1700 руб."): p.selectbox__text С капусткой
            li.selectbox__item(data-date="Чт 17 января 2015", data-time="19:00", data-price="3700 руб."): p.selectbox__text Но не красный
            li.selectbox__item(data-date="Чт 17 января 2015", data-time="19:00", data-price="3700 руб."): p.selectbox__text С капусткой
            li.selectbox__item(data-date="Чт 17 января 2015", data-time="19:00", data-price="3700 руб."): p.selectbox__text Но не красный
            li.selectbox__item(data-date="Чт 17 января 2015", data-time="19:00", data-price="3700 руб."): p.selectbox__text С капусткой
            li.selectbox__item(data-date="Чт 17 января 2015", data-time="19:00", data-price="3700 руб."): p.selectbox__text Но не красный
            li.selectbox__item(data-date="Чт 17 января 2015", data-time="19:00", data-price="3700 руб."): p.selectbox__text С капусткой
            li.selectbox__item(data-date="Чт 17 января 2015", data-time="19:00", data-price="3700 руб."): p.selectbox__text Но не красный

        .modal__info.modal__info--no-padding
          ul.section__text.modal__info-list
            li.modal__info-item #[span.modal__info-item--marked#selectDate 17 Ноября 2015]
            li.modal__info-item #[span.modal__info-item--marked#selectTime в 19:00]
            li.modal__info-item #[span.modal__info-item--marked.modal__info-item--bold#selectPrice 3700 руб.]

        form.modal__form#formCurrentCertificate
          input.modal__input(type="text", placeholder="Кому")
          input.modal__input(type="text", placeholder="От кого")
          input.modal__input(type="tel", placeholder="Телефон получателя")
          input.modal__input(type="email", placeholder="E-mail получателя")
          input.modal__input(type="email", placeholder="Ваш E-mail")
          input.btn.modal__submit(type="submit", value="Оплатить и подарить сертификат")
          p.section__text.section__text--small.modal__text--explain После нажатия на кнопку «Записаться и оплатить» вы будете перенаправлены на страницу оплаты ЯНДЕКС.КАССЫ. После оплаты отправим электронные билеты на указанный email.
