.modal.fade#modalCertificateSchool(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content
      button.close(type="button", data-dismiss="modal", aria-label="Close")
        span(aria-hidden="true") &times;
      .modal-body
        h2.section__subtitle.modal__title.modal__subtitle--big-padding Получить сертификат в школе

        form.modal__form#formCertificateSchool
          input.modal__input(type="text", placeholder="Имя и Фимилия")
          input.modal__input(type="tel", placeholder="Телефон")
          input.btn.modal__submit(type="submit", value="Заказать и получить в школе")
