
<div id="modalCertificateSchool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <h2 class="section__subtitle modal__title modal__subtitle--big-padding">Получить сертификат в школе</h2>
        <form id="formCertificateSchool" class="modal__form">
          <input type="text" placeholder="Имя и Фимилия" class="modal__input"/>
          <input type="tel" placeholder="Телефон" class="modal__input"/>
          <input type="submit" value="Заказать и получить в школе" class="btn modal__submit"/>
        </form>
      </div>
    </div>
  </div>
</div>