
<div id="modalOrderEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body">
        <h2 class="section__subtitle modal__title modal__subtitle--big-padding">Заказть мероприятие</h2>
        <form id="formOrderEvent" class="modal__form">
          <input type="text" placeholder="Имя и Фимилия" class="modal__input"/>
          <input type="tel" placeholder="Телефон" class="modal__input"/>
          <input type="email" placeholder="E-mail" class="modal__input"/>
          <input type="number" min="1" placeholder="Количество человек" class="modal__input"/>
          <p class="modal__input--date">
            <input type="text" placeholder="Желаемые даты" class="modal__input"/><i class="modal__icon-date"></i>
          </p>
          <textarea type="text" placeholder="Комментарий (по желанию)" class="modal__textarea"></textarea>
          <input type="submit" value="Заказать" class="btn modal__submit"/>
        </form>
      </div>
    </div>
  </div>
</div>