// header
header.header
  .section__container.header__container
    nav.main-menu
      ul.main-menu__list.main-menu__list--left
        li.main-menu__item: a(href="workshops.html") Мастер-классы
        li.main-menu__item: a(href="celebration.html") Праздники и корпоративы
        li.main-menu__item: a.active(href="about.html") О школе и поварах
      a.main-menu__logo(href="index.html")
      .menu__btn#openMenu(data-open="false")
        span
        span
        span
      ul.main-menu__list.main-menu__list--right
        li.main-menu__item: a(href="gallery.html") Галерея
        li.main-menu__item: a(href="partners.html") Партнёры
        li.main-menu__item: a(href="blog.html") Блог Фабрицио Фатуччи
        li.main-menu__item: a(href="contacts.html") Контакты
      ul.main-menu__list.main-menu__list--tablet#mobileMenu
        li.main-menu__item: a(href="workshops.html") Мастер-классы
        li.main-menu__item: a(href="celebration.html") Праздники и корпоративы
        li.main-menu__item: a.active(href="about.html") О школе и поварах
        li.main-menu__item: a(href="gallery.html") Галерея
        li.main-menu__item: a(href="partners.html") Партнёры
        li.main-menu__item: a(href="blog.html") Блог Фабрицио Фатуччи
        li.main-menu__item: a(href="contacts.html") Контакты

