doctype html
html(lang="ru")
  - title = "Такой страницы нет | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // promo
      section.promo.promo--404
        .section__container.promo__container
          .promo__offer
            i.spoon-fork
            h1.section__header.promo__title Упс, такой страницы нет
            a.btn.promo__btn(href="index.html") Перейти на главную

    include blocks/footer/footer
