doctype html
html(lang="ru")
  - title = "О школе | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // promo
      section.promo.promo--about
        .section__container.promo__container
          h1.section__header.promo__title О школе

      // two-col-text
      .two-col-text
        .section__container.two-col-text__container
          p.section__text.two-col-text__text 1 октября 2012 года в ресторане Gusto открылся уникальный проект. Место для настоящих гурманов и просто любителей вкусной еды. Каждый, кто интересуется кулинарией, сможет расширить свои знания и научиться чему-то новому.
          p.section__text.two-col-text__text Кулинарная школа GUSTOMAESTRO – это авторский проект шеф-повара итальянского ресторана GUSTO Фабрицио Фатуччи. Она открывает свои двери для тех, кто хочет узнать новое о кулинарии, приобрести и усовершенствовать свои навыки в умении готовить вкусно.

      include blocks/advantages/advantages

      // col-text-col-image
      section.col-text-col-image
        .section__container.col-text-col-image__container
          .col-text-col-image__content
            h3.section__subtitle.col-text-col-image__title На мастер-классах
            p.section__text.section__text--medium.col-text-col-image__text Вы сможете посетить не только курсы итальянской кухни, но и узнать секретные рецепты шеф-поваров со всего мира. Кулинарные мастер-классы посвящены разнообразным тематикам. Таким, как, «Мясо. Секреты от шефа », «Традиционная сицилийская кухня», «Домашняя паста» и многие другие. #[br] #[br] У каждого ученика будет возможность  не только приготовить и попробовать блюдо, но даже забрать домой, чтобы угостить близких. Кроме того, в кулинарной школе предусмотрены занятия для самых маленьких – детские кулинарные мастер-классы и уроки, а также школа этикета bambini.
            a.btn.col-text-col-image__btn(href="#") Посмотреть расписание
          .col-text-col-image__image
            img(src="images/mk__promo-preview.jpg")

      // col-text-col-image
      section.col-text-col-image.col-text-col-image--image-left
        .section__container.col-text-col-image__container
          .col-text-col-image__content
            h3.section__subtitle.col-text-col-image__title На праздниках и корпоративах
            p.section__text.section__text--medium.col-text-col-image__text Вы сможете оригинально отметить важное событие, устроить кулинарный поединок в рамках тимблидинга или провести встречу с партнерами и прессой в неформальной обстановке. Кулинарная школа GUSTOMAESTRO – это не только школа итальянской кухни, но и особая площадка для презентаций, корпоративных и личных праздников. #[br] #[br] Все заботы по приготовлению не только мастер-класса, но и всего мероприятия мы возьмем на себя- организуем фуршет, пригласим диджэея, украсим кулинарную школу цветами или шариками, привлечем аниматоров, фокусников,артистов, подготовим сувенирную продукцию, организуем награждение победителей дипломами.
            a.btn.col-text-col-image__btn(href="#") Узнать больше и заказать
          .col-text-col-image__image
            img(src="images/celebrate__promo-preview.jpg")

      // about-chiefs
      section.about-chiefs
        .section__container.about-chiefs__container
          h2.section__title.about-chiefs__title О шеф-поварах
          ul.about-chiefs__list
            li.about-chiefs__item
              a.target-link(href="chief.html")
              .about-chiefs__image
                img(src="images/chef__promo--preview.jpg")
              .about-chiefs__content
                h4.section__text.about-chiefs__subtitle Фабрицио Фатуччи
                span.section__text.section__text--small.about-chiefs__span Итальянская кухня
                p.section__text.section__text--small.about-chiefs__text Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома.
                a.section__text.section__text--small.link.about-chiefs__more(href="chief.html") Подробно о шефе
            li.about-chiefs__item
              a.target-link(href="chief.html")
              .about-chiefs__image
                img(src="images/chef__promo--preview.jpg")
              .about-chiefs__content
                h4.section__text.about-chiefs__subtitle Фабрицио Фатуччи
                span.section__text.section__text--small.about-chiefs__span Итальянская кухня
                p.section__text.section__text--small.about-chiefs__text Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома.
                a.section__text.section__text--small.link.about-chiefs__more(href="chief.html") Подробно о шефе
            li.about-chiefs__item
              a.target-link(href="chief.html")
              .about-chiefs__image
                img(src="images/chef__promo--preview.jpg")
              .about-chiefs__content
                h4.section__text.about-chiefs__subtitle Фабрицио Фатуччи
                span.section__text.section__text--small.about-chiefs__span Итальянская кухня
                p.section__text.section__text--small.about-chiefs__text Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома.
                a.section__text.section__text--small.link.about-chiefs__more(href="chief.html") Подробно о шефе
            li.about-chiefs__item
              a.target-link(href="chief.html")
              .about-chiefs__image
                img(src="images/chef__promo--preview.jpg")
              .about-chiefs__content
                h4.section__text.about-chiefs__subtitle Фабрицио Фатуччи
                span.section__text.section__text--small.about-chiefs__span Итальянская кухня
                p.section__text.section__text--small.about-chiefs__text Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома.
                a.section__text.section__text--small.link.about-chiefs__more(href="chief.html") Подробно о шефе
            li.about-chiefs__item
              a.target-link(href="chief.html")
              .about-chiefs__image
                img(src="images/chef__promo--preview.jpg")
              .about-chiefs__content
                h4.section__text.about-chiefs__subtitle Фабрицио Фатуччи
                span.section__text.section__text--small.about-chiefs__span Итальянская кухня
                p.section__text.section__text--small.about-chiefs__text Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома.
                a.section__text.section__text--small.link.about-chiefs__more(href="chief.html") Подробно о шефе
            li.about-chiefs__item
              a.target-link(href="chief.html")
              .about-chiefs__image
                img(src="images/chef__promo--preview.jpg")
              .about-chiefs__content
                h4.section__text.about-chiefs__subtitle Фабрицио Фатуччи
                span.section__text.section__text--small.about-chiefs__span Итальянская кухня
                p.section__text.section__text--small.about-chiefs__text Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома.
                a.section__text.section__text--small.link.about-chiefs__more(href="chief.html") Подробно о шефе
            li.about-chiefs__item
              a.target-link(href="chief.html")
              .about-chiefs__image
                img(src="images/chef__promo--preview.jpg")
              .about-chiefs__content
                h4.section__text.about-chiefs__subtitle Фабрицио Фатуччи
                span.section__text.section__text--small.about-chiefs__span Итальянская кухня
                p.section__text.section__text--small.about-chiefs__text Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома.
                a.section__text.section__text--small.link.about-chiefs__more(href="chief.html") Подробно о шефе
            li.about-chiefs__item
              a.target-link(href="chief.html")
              .about-chiefs__image
                img(src="images/chef__promo--preview.jpg")
              .about-chiefs__content
                h4.section__text.about-chiefs__subtitle Фабрицио Фатуччи
                span.section__text.section__text--small.about-chiefs__span Итальянская кухня
                p.section__text.section__text--small.about-chiefs__text Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома.
                a.section__text.section__text--small.link.about-chiefs__more(href="chief.html") Подробно о шефе

      include blocks/contacts/contacts
    include blocks/footer/footer
