doctype html
html(lang="ru")
  - title = "Идеальное блюдо | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    // breadcrumbs
    .breadcrumbs.breadcrumbs--mc-promo
      .section__container.breadcrumbs__container
        ul.section__text.section__text--small.breadcrumbs__list
          li.breadcrumbs__item: a(href="blog.html") Блог шеф-повара
          li.breadcrumbs__item >
          li.breadcrumbs__item.active Идеальное блюдо

    main.main
      .section__container.main__container
        // article
        article.article
          .article__image
            img(src="images/article__promo--preview2.jpg")
          h3.section__subtitle.article__title Идеальное блюдо
          .article__info
            span.section__text.article__text--serif 31 марта 2015
            span.section__text.article__text--serif 3 комментария
          .article__content
            p.section__text.article__text Я часто ошибаюсь. Может быть, из-за моего волнения и возбуждения, которое приходит в момент трансформации идеи и мысли в реальность, может из-за моего желания всегда удивлять, которое часто сильно овладевает мной ( что, несомненно, является признаком незрелости), но часто так бывает, что, создавая новое блюдо, я не всегда остаюсь доволен на 100%. #[br] #[br] Хорошая новость - я отдаю себе в этом отчет все чаще и чаще, и, следовательно, начинаю задавать вопросы и искать на них ответы. Что мне не нравится? Почему мне это не нравится? Что мешает этому блюду быть гармоничным? #[br] #[br] Что ж, давайте вместе попытаемся понять, что входит в «идеальное блюдо»
            h1.section__text.section__text--bold.article__subtitle Во-первых
            p.section__text.article__text В основе любого нового блюда должна лежать идея, мысль, ощущение, ответ на вопрос «Почему я хочу это сделать?»
            h2.section__text.section__text--bold.article__subtitle Во-вторых
            p.section__text.article__text Идея должна подкрепляться технологией. Я не говорю сейчас о новых технологиях приготовления. Я говорю о той технологии, которая дает вам возможность понять, когда наступил момент убрать соус с огня, как разделать рыбу с легкостью и точностью одновременно, в какой момент (ни раньше, ни позже) понять , что румяная баранья котлетка уже готова. Все эти знания, которым ты обучаешься еще будучи юным, с годами и профессиональным опытом ,конечно, влияют на восприятие. Иными словами, с опытом ты «ловишь » момент все чаще. А новейшие технологии в приготовлении, суперсовременные плиты помогают превратить продукты во что – то съедобное.
            img(src="images/article__promo--preview1.jpg", alt="")
            h3.section__text.section__text--bold.article__subtitle В-третьих
            p.section__text.article__text Необходим личный опыт вкусовых ощущений. Что, вплоть до сегодняшнего дня, я успел попробовать? Что мне понравилось? Что мне не понравилось? Что и кто меня вдохновляет и откуда все берет свое начало?
            h4.section__text.section__text--bold.article__subtitle В-четвертых
            p.section__text.article__text Кто я? Может показаться странным, задавать себе такой вопрос, когда ты создаешь новое блюдо…. Но если блюдо рождается из идеи, за этой идеей всегда стоит конкретный человек со своей историей, со своим жизненным опытом, со своими воспоминаниями, проблемами… со своим душевным состоянием. Поверьте мне, это является самым важным в процессе создания, ответ на вопрос «Почему я хочу это сделать?»
            h5.section__text.section__text--bold.article__subtitle В-пятых
            p.section__text.article__text Где ты? Это тоже фундаментальный вопрос. Кухня (в широком смысле этого слова), которая является сильным стимулом живого креативного замысла, сильно связана с местом, где она существует. Все ингредиенты должны быть свежие, «живые». Недавно я был в Италии в небольшом гастрономическом магазине в одной из деревенек на Юге. Многие рассмеются, читая мои следующие слова, но оглядываясь по сторонам, я чувствовал, будто определенные ингредиенты разговаривали со мной, прося взять их с собой. Можете смеяться, но я клянусь, что было именно так, и я вам больше скажу – я к ним прислушался! Я купил их, соединил вместе и из них получилось то, что я называю «идеальным блюдом».
            h6.section__text.section__text--bold.article__subtitle В-шестых
            p.section__text.article__text В основе любого нового блюда должна лежать идея, мысль, ощущение, ответ на вопрос «Почему я хочу это сделать?»
            blockquote.article__blockquote
              p.section__text.article__text Итак, эти ингредиенты: 1. Домашняя паста ручной работы из Граньяно ( Pasta artigianale di Gragnano) от фабрики, которая сама выращивает био зерно, перемалывает его по старинному обычаю в мельницах с жерновами из камня, замешивает на чистейшей воде из Везувийского родника, пропускает готовое тесто через бронзовый станок и строго выдерживает время и температурный режим высушивания. 2 Менакийские анчоусы в соли ( Alice di Menaica), которые ловят в течение дня в спокойном море с Апреля по Июль. Этот старинный вид рыбалки еще практикуется у некоторых рыбаков. Его особенность в специальных сетях, которые называются «менайки». Эта сеть захватывает только больших особей, которые ,метаются внутри сети и в нервном напряжении в очень короткое время теряют большую часть своей крови. На борту их сразу же чистят, полощут в морской воде и помещают в глиняные терракотовые горшки, посыпая морской солью из Трипани.3. Буйволиное масло ( burro di bufala) от Agricola Vannullo. Тот, кто не знает Антонио Пальмьери (Antonio Palmieri) и Agricola Vannullo не достоин того, чтобы читать дальше?
          // share
          .share
            span.section__text.share__title Поделиться:
            ul.share__list
              li.share__item
                a.share__item--facebook(href="#") Facebook
              li.share__item
                a.share__item--twitter(href="#") Twitter
              li.share__item
                a.share__item--mail(href="#") Мой мир
              li.share__item
                a.share__item--vk(href="#") Вконтакте
              li.share__item
                a.share__item--google(href="#") Google+

          // other-posts
          .other-posts
            h2.section__subtitle.other-posts__title Советуем прочесть
            ul.other-posts__list
              li.other-posts__item: a(href="#")
                .other-posts__image
                  img(src="images/article__promo--preview1.jpg", alt="")
                a.link.other-posts__link(href="#") Кажется, будто это было вчера, а прошёл уже целый год!
              li.other-posts__item: a(href="#")
                .other-posts__image
                  img(src="images/article__promo--preview2.jpg", alt="")
                a.link.other-posts__link(href="#") Россия не для всех!

          // comments
          .comments
            h2.section__subtitle.comments__title Комментарии | 3
            ul.comments__list
              li.comments__item
                .comments__image
                  img(src="images/comment-author__image1.jpg", alt="")
                .comments__content
                  .comments__info
                    ul.section__text.comments__info-list
                      li.comments__info-item Sofia
                      li.comments__info-item 14 ноября 2014
                      li.comments__info-item 13:43
                  p.section__text.section__text--small.comments__text The review is good as aalyws telling about the theme and at the same time not telling the story eventually creating interest to watch the movie. But one thing to correct - cast in Dil chahta hai is "Akshay khanna" not Rahul apart from Aamir & saif -Purnima
              li.comments__item
                .comments__image
                  img(src="images/comment-author__image2.jpg", alt="")
                .comments__content
                  .comments__info
                    ul.section__text.comments__info-list
                      li.comments__info-item Udin
                      li.comments__info-item 17 ноября 2014
                      li.comments__info-item 21:58
                  p.section__text.section__text--small.comments__text Dear friend,I saw the blog. It is very nice, can u pl tell me what is the comirecmal benefit of running this?mail your reply when free, and if you like to reply. my mail id is callmesrk@gmail.com.RegardsRavi.S http://xhzfwrluji.com [url=http://ibabtw.com]ibabtw[/url] [link=http://lscklxamj.com]lscklxamj[/link]
              li.comments__item
                .comments__image
                  img(src="images/comment-author__image3.jpg", alt="")
                .comments__content
                  .comments__info
                    ul.section__text.comments__info-list
                      li.comments__info-item Kim
                      li.comments__info-item 19 ноября 2014
                      li.comments__info-item 19:19
                  p.section__text.section__text--small.comments__text Dear friend,I saw the blog. It is very nice, can u pl tell me what is the comirecmal benefit of running this?mail your reply when free, and if you like to reply. my mail id is callmesrk@gmail.com.RegardsRavi.S http://xhzfwrluji.com [url=http://ibabtw.com]ibabtw[/url] [link=http://lscklxamj.com]lscklxamj[/link]

            .comments__write
              h2.section__subtitle.comments__write-title Оставьте свой комментарий
              form.comments__form
                .comments__inputs-wrapper
                  .comments__inputs
                    input.comments__input(type="text", placeholder="Имя")
                    input.comments__input(type="tel", placeholder="Телефон")
                    input.comments__input(type="email", placeholder="E-mail")
                  .comments__inputs.comments__inputs--large
                    textarea.comments__textarea(placeholder="Комментарий")
                .comments__submits
                  a.section__text.link.comments__attach(href="#") Загрузить свою фотографию
                  input.btn.comments__submit(type="submit", value="Отправить комментарий")

        // aside
        aside.aside
          .aside__about-chief
            h3.section__subtitle.aside__title Фабрицио Фаттучи
            p.section__text.aside__text Приходя в «Gusto», Вы попадаете в гости к знаменитому шеф-повару из Италии Фабрицио Фатуччи. Искусство готовить, по версии мэтра, – это, прежде всего, чувства, эмоции и настроение, которые можно подарить другим. В поисках этих главных ингредиентов, уроженец Рима, он объездил всю Италию. Впитал ароматы Тосканы, Сицилии, Неаполя, и наполнил ими свои блюда. Его кредо - импровизация с душой. Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома [...]
            a.section__text.link.aside__link(href="#") Подробнее о Фабрицио

          .aside__popular
            h3.section__subtitle.aside__title Чаще всего читают
            ul.aside__list.section__text
              li.aside__item: a.link(href="#") Россия не для всех
              li.aside__item: a.link(href="#") Кажется, будто это было вчера, а прошёл уже целый год!
              li.aside__item: a.link(href="#") Фабрицио Фатуччи об эстетике формы и цвета
              li.aside__item: a.link(href="#") «Яичница-болтунья»
              li.aside__item: a.link(href="#") В гостях у Пятого канала
          .aside__subscribe
            p.aside__subscribe-text Подписка на группу вконтакте
          .aside__subscribe
            p.aside__subscribe-text Подписка Facebook

    include blocks/footer/footer
