doctype html
html(lang="ru")
  - title = "Блог Шеф-повара | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    // promo
    section.promo.promo--blog
      .section__container.promo__container
        h1.section__header.promo__title Блог Шеф-повара

    main.main.main--articles
      .section__container.main__container
        // articles
        section.articles
          ul.articles__list
            li.articles__item
              h3.section__subtitle.articles__title: a(href="article.html") Россия не для всех
              .articles__info
                span.section__text.articles__text--serif 2 апреля 2015
                span.section__text.articles__text--serif 6 комментариев
              .articles__image: a(href="article.html")
                img(src="images/article__promo--preview1.jpg")
              p.section__text.articles__text Почти каждый день я получаю электронные письма, сообщения в Фейсбуке и звонки от людей, которые хотят приехать работать в Россию. С одной стороны, мне приятно, потому что если они звонят мне, то что-то стоящее за 10 лет я все-таки сделал) Но с другой стороны, Россия  - не лубочная потешная страна, как многие думают, она не легка для жизни и работы в ней. [...]
              a.section__text.link(href="article.html") Читать далее

            li.articles__item
              h3.section__subtitle.articles__title: a(href="article.html") Идеальное блюдо
              .articles__info
                span.section__text.articles__text--serif 31 марта 2015
                span.section__text.articles__text--serif 3 комментария
              .articles__image: a(href="article.html")
                img(src="images/article__promo--preview2.jpg")
              p.section__text.articles__text Я часто ошибаюсь. Может быть, из-за моего волнения и возбуждения, которое приходит в момент трансформации идеи и мысли в реальность, может из-за моего желания всегда удивлять, которое часто сильно овладевает мной ( что, несомненно, является признаком незрелости), но часто так бывает, что, создавая новое блюдо, я не всегда остаюсь доволен на 100 %.. [...]
              a.section__text.link(href="article.html") Читать далее

            li.articles__item
              h3.section__subtitle.articles__title: a(href="article.html") Россия не для всех
              .articles__info
                span.section__text.articles__text--serif 2 апреля 2015
                span.section__text.articles__text--serif 6 комментариев
              .articles__image: a(href="article.html")
                img(src="images/article__promo--preview1.jpg")
              p.section__text.articles__text Почти каждый день я получаю электронные письма, сообщения в Фейсбуке и звонки от людей, которые хотят приехать работать в Россию. С одной стороны, мне приятно, потому что если они звонят мне, то что-то стоящее за 10 лет я все-таки сделал) Но с другой стороны, Россия  - не лубочная потешная страна, как многие думают, она не легка для жизни и работы в ней. [...]
              a.section__text.link(href="article.html") Читать далее

            li.articles__item
              h3.section__subtitle.articles__title: a(href="article.html") Идеальное блюдо
              .articles__info
                span.section__text.articles__text--serif 31 марта 2015
                span.section__text.articles__text--serif 3 комментария
              .articles__image: a(href="article.html")
                img(src="images/article__promo--preview2.jpg")
              p.section__text.articles__text Я часто ошибаюсь. Может быть, из-за моего волнения и возбуждения, которое приходит в момент трансформации идеи и мысли в реальность, может из-за моего желания всегда удивлять, которое часто сильно овладевает мной ( что, несомненно, является признаком незрелости), но часто так бывает, что, создавая новое блюдо, я не всегда остаюсь доволен на 100 %.. [...]
              a.section__text.link(href="article.html") Читать далее

            li.articles__item
              h3.section__subtitle.articles__title: a(href="article.html") Россия не для всех
              .articles__info
                span.section__text.articles__text--serif 2 апреля 2015
                span.section__text.articles__text--serif 6 комментариев
              .articles__image: a(href="article.html")
                img(src="images/article__promo--preview1.jpg")
              p.section__text.articles__text Почти каждый день я получаю электронные письма, сообщения в Фейсбуке и звонки от людей, которые хотят приехать работать в Россию. С одной стороны, мне приятно, потому что если они звонят мне, то что-то стоящее за 10 лет я все-таки сделал) Но с другой стороны, Россия  - не лубочная потешная страна, как многие думают, она не легка для жизни и работы в ней. [...]
              a.section__text.link(href="article.html") Читать далее

          // pagination
          nav.pagination
            ul.pagination__list
              li.pagination__item: a.pagination__arrow(href="#")
              li.pagination__item: a(href="#") 1
              li.pagination__item: a.active(href="#") 2
              li.pagination__item: a(href="#") 3
              li.pagination__item ...
              li.pagination__item: a(href="#") 12
              li.pagination__item: a.pagination__arrow.pagination__arrow--left(href="#")

        // aside
        aside.aside
          .aside__about-chief
            h3.section__subtitle.aside__title Фабрицио Фаттучи
            p.section__text.aside__text Приходя в «Gusto», Вы попадаете в гости к знаменитому шеф-повару из Италии Фабрицио Фатуччи. Искусство готовить, по версии мэтра, – это, прежде всего, чувства, эмоции и настроение, которые можно подарить другим. В поисках этих главных ингредиентов, уроженец Рима, он объездил всю Италию. Впитал ароматы Тосканы, Сицилии, Неаполя, и наполнил ими свои блюда. Его кредо - импровизация с душой. Отточив мастерство в десятках лучших заведений, от лондонского гранд-отеля «Savoy» до московского «Forbes», в Петербурге Фабрицио осуществил свою мечту – о «живом» и «тёплом» ресторане, где гости чувствуют себя как дома [...]
            a.section__text.link.aside__link(href="chief.html") Подробнее о Фабрицио

          .aside__popular
            h3.section__subtitle.aside__title Чаще всего читают
            ul.aside__list.section__text
              li.aside__item: a.link(href="article.html") Россия не для всех
              li.aside__item: a.link(href="article.html") Кажется, будто это было вчера, а прошёл уже целый год!
              li.aside__item: a.link(href="article.html") Фабрицио Фатуччи об эстетике формы и цвета
              li.aside__item: a.link(href="article.html") «Яичница-болтунья»
              li.aside__item: a.link(href="article.html") В гостях у Пятого канала
          .aside__subscribe
            p.aside__subscribe-text Подписка на группу вконтакте
          .aside__subscribe
            p.aside__subscribe-text Подписка Facebook

    include blocks/footer/footer
