doctype html
html(lang="ru")
  - title = "Праздники и корпоративы | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // promo
      section.promo.promo--celebration
        .section__container.promo__container
          h1.section__header.promo__title Праздники и корпоративы

      // two-col-text
      .two-col-text.two-col-text--small-padding
        .section__container.two-col-text__container
          p.section__text.two-col-text__text Кулинарная школа GUSTOMAESTRO – это ещё и особая площадка для презентаций, корпоративных и личных праздников. Здесь можно оригинально отметить важное событие, устроить кулинарный поединок в рамках тимблидинга или провести встречу с партнерами и прессой в неформальной обстановке.
          p.section__text.two-col-text__text Все заботы по приготовлению не только мастер- класса, но и всего мероприятия мы возьмем на себя- организуем фуршет, пригласим диджэея, украсим кулинарную школу цветами или шариками, привлечем аниматоров, фокусников,артистов, подготовим сувенирную продукцию, организуем награждение победителей дипломами.

      // celebration-services
      section.celebration-services
        .section__container.celebration-services__container
          ul.celebration-services__list
            li.celebration-services__item
              h3.section__subtitle.celebration-services__title Корпоративные мероприятия
              .celebration-services__content
                p.section__text.celebration-services__text На корпоративных мероприятиях вы сами сможете выбрать что ваша команда приготовит вместе с шеф - поваром, это может быть абсолютно любое блюдо! Одно, два или три блюда? Домашняя итальянская,изысканная французская, острая азиатская или привычная русская кухня? Можно разделить компанию на команды и каждая сможет сделать по одному блюду на всех, а может быть, на 8 марта, мужчины приготовят дамам торт , а дамы в это время будут заняты миксологией и созданием уникальных коктейлей? В мастер-классе могут принимать участие от 6 до 60 человек.
                a.section__text.link(href="#") Посмотреть свободные даты
              .celebration-services__offer
                ul.section__text.celebration-services__service-list
                  li.celebration-services__service-item кулинарные мастер-классы
                  li.celebration-services__service-item презентации
                  li.celebration-services__service-item кулинарные поединки
                  li.celebration-services__service-item показательные мастер-классы
                  li.celebration-services__service-item званые ужины
                  li.celebration-services__service-item дегустации
                a.btn.btn--large.celebration-services__btn(href="#") Заказать
            li.celebration-services__item
              h3.section__subtitle.celebration-services__title Личные праздники
              .celebration-services__content
                p.section__text.celebration-services__text На дне рождения в кулинарной школе GUSTOMAESTRO можно собрать всех друзей и близких, вместе приготовить праздничное угощение, поучаствовать в веселых конкурсах, получить заряд хорошего настроения, а наш администратор с радостью заснимет все на фотокамеру и фотографии буду служить отличным напоминанием об оригинальном дне рождения!
                a.section__text.link(href="#") Посмотреть свободные даты
              .celebration-services__offer
                ul.section__text.celebration-services__service-list
                  li.celebration-services__service-item детские и взрослые дни рождения
                  li.celebration-services__service-item годовщины
                  li.celebration-services__service-item девичники
                a.btn.btn--large.celebration-services__btn(href="#") Заказать

      // celebration-events
      section.celebration-events
        .section__container.celebration-events__container
          h3.section__subtitle.celebration-events__title Организуем мероприятия
          ul.celebration-events__list
            li.celebration-events__item
              .celebration-events__text
                span.section__title.celebration-events__item-title Для взрослых
              a(href="event.html")
              img(src="images/event__promo--preview1.jpg", alt="")
            li.celebration-events__item
              .celebration-events__text
                span.section__title.celebration-events__item-title Для детей
              a(href="event.html")
              img(src="images/event__promo--preview2.jpg", alt="")

      include blocks/contacts/contacts
    include blocks/footer/footer
