doctype html
html(lang="ru")
  - title = "Подарочные сертификаты | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // certificates
      .certificates
        .section__container.certificates__container
          // certificates-promo
          h2.section__title.certificates__header Подарочные сертификаты
          .certificates__promo
            .certificates__promo-image
              img(src="images/certificate.jpg", alt="")
            .certificates__promo-content
              p.section__text.certificates__text Если вы хотите сделать незабываемый подарок и порадовать близкого человека. Предлагаем отличную идею оригинального подарка на любой праздник – сертификат на посещение любого мастер-класса кулинарной школы Gustomaestro!
              h4.section__text.certificates__title Сертификат бывает:
              p.section__text.certificates__text любого номинала (минимальный – 3000 рублей) – в таком случае гость сможет посетить мастер- класс, стоимость которого не больше номинала сертификата. #[br] В случае если стоимость мастер-класса больше номинала сертификата, гость может доплатить разницу на месте и посетить интересующий мастер-класс. В случае, если стоимость мастер-класса меньше- остаток может пойти в счет оплаты следующего мастер-класса.
              p.section__text.certificates__text.certificates__text--marked Стоимость сертификата на любой мастер класс – 5000 рублей.
          // certificates-list
          ul.certificates__list
            li.certificates__item
              .certificates__item-image
                img(src="images/certificate.jpg", alt="")
              .certificates__item-content
                h4.section__text.certificates__item-title Сертификат любого номинала
                a.section__text.link.certificates__item-link(href="#", data-toggle="modal", data-target="#modalCertificateSchool") Оформить в GUSTOMAESTRO
                p.section__text.certificates__item-text Подарить в электронном виде на почту
                a.btn.certificates__btn(href="#", data-toggle="modal", data-target="#modalCurrentCertificate") Подарить
            li.certificates__item
              .certificates__item-image
                img(src="images/certificate.jpg", alt="")
              .certificates__item-content
                h4.section__text.certificates__item-title Сертификат на любой мастер-класс
                a.section__text.link.certificates__item-link(href="#", data-toggle="modal", data-target="#modalCertificateSchool") Оформить в GUSTOMAESTRO
                p.section__text.certificates__item-text Подарить в электронном виде на почту
                a.btn.certificates__btn(href="#", data-toggle="modal", data-target="#modalCustomCertificate") Подарить
            li.certificates__item
              .certificates__item-image
                img(src="images/certificate.jpg", alt="")
              .certificates__item-content
                h4.section__text.certificates__item-title Сертификат на конкретный мастер-класс
                a.section__text.link.certificates__item-link(href="#", data-toggle="modal", data-target="#modalCertificateSchool") Оформить в GUSTOMAESTRO
                p.section__text.certificates__item-text Подарить в электронном виде на почту
                a.btn.certificates__btn(href="#") Подарить
          // certificates-rules
          .certificates-rules
            h3.section__subtitle.certificates-rules__title Правила активации сертификатов:
            ul.section__text.certificates-rules__list
              li.certificates-rules__item Подарочный сертификат действителен в течение указанного на нем срока
              li.certificates-rules__item Подарочный сертификат является подтверждением внесения авансового платежа и предоставляет владельцу право на посещение кулинарного мастер-класса GUSTOMAESTRO на сумму, эквивалентную номиналу подарочного сертификата или на мастер-класс, название и дата которого указана в сертификате
              li.certificates-rules__item При реализации подарочного сертификата общей стоимостью ниже его номинала разница в денежном эквиваленте не компенсируется
              li.certificates-rules__item При реализации подарочного сертификата общей стоимостью выше его номинала разница доплачивается владельцем сертификата
              li.certificates-rules__item Подарочный сертификат не подлежит возврату и обмену на денежные средства и не восстанавливается в результате утраты
              li.certificates-rules__item Воспользоваться сертификатом можно только при его предъявлении

      include blocks/modals/modal-certificate-school
      include blocks/modals/modal-current-certificate
      include blocks/modals/modal-custom-certificate

      include blocks/contacts/contacts
    include blocks/footer/footer
