doctype html
html(lang="ru")
  - title = "Для взрослых | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // breadcrumbs
      .breadcrumbs.breadcrumbs--mc-promo
        .section__container.breadcrumbs__container
          ul.section__text.section__text--small.breadcrumbs__list
            li.breadcrumbs__item: a(href="celebration.html") Праздники и корпоративы
            li.breadcrumbs__item >
            li.breadcrumbs__item.active Для взрослых

      // mc-promo
      .mc-promo.mc-promo--event
        .section__container.mc-promo__container
          .mc-promo__wrapper.mc-promo__wrapper--left
            h2.section__subtitle.mc-promo__title Праздники и корпоративы для взрослых
            .mc-promo__info.mc-promo__info--event
              ul.section__text.mc-promo__info-list
                  li.mc-promo__info-item В любой свободный день
                  li.mc-promo__info-item: a.link(href="#") посмотреть в календаре
        .section__container.mc-promo__container
          .mc-promo__wrapper.mc-promo__wrapper--left
            .mc-promo__image
              img(src="images/celebration__promo--adults.jpg", alt="")
          .mc-promo__wrapper.mc-promo__wrapper--right
            p.section__text.section__text--medium.mc-promo__text На праздник или корпоратив в кулинарной школе GUSTOMAESTRO можно собрать всех друзей и близких, вместе приготовить праздничное угощение, поучаствовать в веселых конкурсах, получить заряд хорошего настроения. #[br] #[br] Все заботы по приготовлению всего мероприятия мы возьмем на себя- организуем фуршет, пригласим диджэея, украсим кулинарную школу цветами или шариками, привлечем аниматоров, фокусников,артистов, подготовим сувенирную продукцию, организуем награждение победителей дипломами.
            a.btn(href="#", data-toggle="modal", data-target="#modalOrderEvent") Заказать мероприятие

      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Как проходят корпоративы и личные праздники
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery4.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery5.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery6.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery7.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery8.jpg", alt="")

      include blocks/modals/modal-order-event

      include blocks/contacts/contacts
    include blocks/footer/footer
