doctype html
html(lang="ru")
  - title = "Галерея | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main.main--gallery
      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Интерьер школы
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/interior__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/interior__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/interior__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/interior__gallery4.jpg", alt="")

      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Как проходят мастер-классы
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery4.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery5.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery6.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery7.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery8.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery9.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery10.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery11.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery12.jpg", alt="")

      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Как проходят корпоративы и личные праздники
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery4.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery5.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery6.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery7.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery8.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery9.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery10.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery11.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery12.jpg", alt="")

      include blocks/contacts/contacts
    include blocks/footer/footer
