doctype html
html(lang="ru")
  - title = "GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // promo
      section.promo.promo--main
        .section__container.promo__container
          .promo__offer
            i.spoon-fork
            h1.section__header.promo__title Раскройте свои кулинарные таланты
            span.section__subtitle.promo__subtitle В школе GUSTOMAESTRO
        .promo__video
          video(autoplay, poster="images/promo--home.jpg", loop)
            source(src="images/video-bg.webm", type="video/webm")
            source(src="images/video-bg.mp4", type="video/mp4")

      include blocks/mc-preview/mc-preview

      include blocks/advantages/advantages

      // col-text-col-image
      section.col-text-col-image
        .section__container.col-text-col-image__container
          .col-text-col-image__content
            h3.section__subtitle.col-text-col-image__title На мастер-классах
            p.section__text.section__text--medium.col-text-col-image__text Вы сможете посетить не только курсы итальянской кухни, но и узнать секретные рецепты шеф-поваров со всего мира. Кулинарные мастер-классы посвящены разнообразным тематикам. Таким, как, «Мясо. Секреты от шефа », «Традиционная сицилийская кухня», «Домашняя паста» и многие другие. #[br] #[br] У каждого ученика будет возможность  не только приготовить и попробовать блюдо, но даже забрать домой, чтобы угостить близких. Кроме того, в кулинарной школе предусмотрены занятия для самых маленьких – детские кулинарные мастер-классы и уроки, а также школа этикета bambini.
            a.btn.col-text-col-image__btn(href="workshops.html") Посмотреть расписание
          .col-text-col-image__image
            img(src="images/mk__promo-preview.jpg")

      // col-text-col-image
      section.col-text-col-image.col-text-col-image--image-left
        .section__container.col-text-col-image__container
          .col-text-col-image__image
            img(src="images/celebrate__promo-preview.jpg")
          .col-text-col-image__content
            h3.section__subtitle.col-text-col-image__title На праздниках и корпоративах
            p.section__text.section__text--medium.col-text-col-image__text Вы сможете оригинально отметить важное событие, устроить кулинарный поединок в рамках тимблидинга или провести встречу с партнерами и прессой в неформальной обстановке. Кулинарная школа GUSTOMAESTRO – это не только школа итальянской кухни, но и особая площадка для презентаций, корпоративных и личных праздников. #[br] #[br] Все заботы по приготовлению не только мастер-класса, но и всего мероприятия мы возьмем на себя- организуем фуршет, пригласим диджэея, украсим кулинарную школу цветами или шариками, привлечем аниматоров, фокусников,артистов, подготовим сувенирную продукцию, организуем награждение победителей дипломами.
            a.btn.col-text-col-image__btn(href="celebration.html") Узнать больше и заказать

      // col-text-col-image
      section.col-text-col-image.col-text-col-image--image-sertificate
        .section__container.col-text-col-image__container
          .col-text-col-image__content
            h3.section__subtitle.col-text-col-image__title Подарочный сертификат
            p.section__text.section__text--medium.col-text-col-image__text Если вы хотите сделать незабываемый подарок и порадовать близкого человека. Предлагаем отличную идею оригинального подарка на любой праздник – сертификат на посещение любого мастер-класса кулинарной школы Gustomaestro! #[br] #[br] Сертификат бывает любого номинала. Минимальный – 3000 рублей – в таком случае гость сможет посетить мастер- класс, стоимость которого не больше номинала сертификата или может доплатить разницу на месте и посетить интересующий мастер-класс. В случае, если стоимость мастер-класса меньше- остаток может пойти в счет оплаты следующего мастер-класса.
            a.btn.col-text-col-image__btn(href="certificate.html") Выбрать сертификат
          .col-text-col-image__image
            img(src="images/sertificate__promo-preview.jpg")

      include blocks/contacts/contacts
    include blocks/footer/footer
