doctype html
html(lang="ru")
  - title = "Партнёры | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // partners
      .partners
        .section__container.partners__container
          h2.section__title.partners__title Партнёры
          .partners__wrapper
            ul.partners__logo-list
              li.partners__item: img(src="images/tefal.png", alt="")
              li.partners__item: img(src="images/moulinex.png", alt="")
              li.partners__item: img(src="images/kasumi.png", alt="")
              li.partners__item: img(src="images/italica.png", alt="")
              li.partners__item: img(src="images/sesh.png", alt="")
              li.partners__item: img(src="images/food-and-wine.png", alt="")
              li.partners__item: img(src="images/redio-monte-carlo.png", alt="")
              li.partners__item: img(src="images/resto.png", alt="")
              li.partners__item: img(src="images/barilla.png", alt="")
              li.partners__item: img(src="images/delonghi.png", alt="")
              li.partners__item: img(src="images/kenwood.png", alt="")
              li.partners__item: img(src="images/smeg.png", alt="")
            .partners__content
              h3.section__text.partners__subtitle Плюсы сотрудничества
              p.section__text.partners__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              h3.section__text.partners__subtitle Хотите стать нашим партнёром?
              form.partners__form
                input.partners__input(type="text", placeholder="Имя")
                input.partners__input(type="tel", placeholder="Телефон")
                input.btn.partners__submit(type="submit", value="Да, начать сотрудничать")

      // about-partners
      .about-partners
        .section__container.about-partners__container
          h2.section__subtitle.about-partners__title Подобнее о наших партнёрах
          ul.about-partners__list
            li.about-partners__item
              .about-partners__image
                img(src="images/tefal.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Tefal
                p.section__text.section__text--small.about-partners__text Всемирно известная французская марка, которая является основоположником  и признанным лидером в производстве посуды с антипригарным покрытием. История успеха компании началась в 1954 году, когда специалисты Tefal изобрели сковороду с антипригарным покрытием, создав тем самым абсолютно новую категорию посуды. Это стало первым шагом на пути постоянного развития, усовершенствований и творческих идей Tefal.   На сегодняшний день более 1 миллиарда сковород Tefal заняли достойное место на кухнях хозяек всего мира.
            li.about-partners__item
              .about-partners__image
                img(src="images/moulinex.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Moulinex
                p.section__text.section__text--small.about-partners__text французская торговая марка, основанная в 1937 году, под которой  производятся приборы для кухни. С 2001 года она является является собственностью Groupe SEB. Наряду с маркой Moulinex  Groupe SEB выпускает и продает продукцию таких брендов, как Rowenta, Tefal, Krups в 120 странах мира и является международным лидером на рынке малой бытовой техники.
            li.about-partners__item
              .about-partners__image
                img(src="images/kasumi.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle KASUMI
                p.section__text.section__text--small.about-partners__text Сеть магазинов японских ножей для кухни, туризма и охоты, а также  галереи современного японского дизайна. KASUMI является эксклюзивным представителем признанных японских ножевых брендов: Kasumi, Masahiro, Mcusta, Hattori, Kiku Knives, японского бренда художественного стекла Sugahara, североамериканской студии премиальных аксессуаров William Henry Studio, а также производителей эксклюзивных ручек и решений для письма Platinum Pen (Япония) и Kynsey (Испания).
            li.about-partners__item
              .about-partners__image
                img(src="images/italica.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Центр итальянского языка Italica
                p.section__text.section__text--small.about-partners__text Главная задача Центра Italica - качественное и эффективное обучение итальянскому языку. Грамотное применение европейской коммуникативной методики и талантливая работа профессиональных преподавателей-носителей языка из Италии, а также современные учебные материалы – вот секрет успеха наших учеников. Если ты выбираешь эффективность – тебе к нам!
            li.about-partners__item
              .about-partners__image
                img(src="images/delonghi.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle De'Longhi
                p.section__text.section__text--small.about-partners__text Компания De'Longhi  является лидером в производстве и продажах мелкой бытовой техники в мире, работающая в следующих категориях: кофемашины, техника для обогрева, кондиционирования, техника для кухни. В нашем портфеле присутствует бренды Delonghi, Kenwood, Braun и Ariette.
            li.about-partners__item
              .about-partners__image.about-partners__image--small
                img(src="images/sesh.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle S`esh
                p.section__text.section__text--small.about-partners__text S’esh – это интернет-сервис традиционных сладостей со всех уголков нашего необъятного Мира. Восточные и американские, французские и итальянские, турецкие и индийские, японские и многие другие – попробуйте весь мир на вкус.
            li.about-partners__item
              .about-partners__image
                img(src="images/smeg.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Smeg
                p.section__text.section__text--small.about-partners__text Smeg – это итальянский производитель бытовой техники, головной офис которого находится в городе Гуасталла на севере Италии в провинции Реджио Эмилья. За рубежом Smeg представлен 15-ю филиалами (Великобритания, Франция, Бельгия, Нидерланды, Германия, Швеция, Дания, Испания, Португалия, Россия, Украина, Казахстан, ЮАР, США и Австралия), представительствами в Гонконге и Саудовской Аравии и обширной сетью дистрибьюторов.
            li.about-partners__item
              .about-partners__image.about-partners__image--small
                img(src="images/food-and-wine.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Центр итальянского языка Italica
                p.section__text.section__text--small.about-partners__text Главная задача Центра Italica - качественное и эффективное обучение итальянскому языку. Грамотное применение европейской коммуникативной методики и талантливая работа профессиональных преподавателей-носителей языка из Италии, а также современные учебные материалы – вот секрет успеха наших учеников. Если ты выбираешь эффективность – тебе к нам!
            li.about-partners__item
              .about-partners__image
                img(src="images/barilla.png", alt="")
              .about-partners__content
                h3.section__text.about-partners__subtitle Barilla G.&R. Fratelli S.p.A.
                p.section__text.section__text--small.about-partners__text Компания Barilla была основана более ста лет назад, в 1877 году. Сегодня Barilla является лидером по продажам пасты во всем мире, с экспортом в более чем 125 странах мира. Помимо пасты, Barilla лидирует по продажам соусов для пасты в Европе, хлебобулочных изделий в Италии и по продажам хрустящего хлеба в странах Северной Европы. Сегодня компании Barilla принадлежит 27 производственных площадок (14 в Италии и 13 за ее пределами)
            li.about-partners__item
              .about-partners__image.about-partners__image--offer
              .about-partners__content
                h3.section__text.about-partners__subtitle Хотите стать нашим партнёром?
                form.partners__form
                  input.partners__input(type="text", placeholder="Имя")
                  input.partners__input(type="tel", placeholder="Телефон")
                  input.btn.partners__submit(type="submit", value="Да, начать сотрудничать")

    include blocks/footer/footer
