doctype html
html(lang="ru")
  - title = "\"Богатство Средиземноморья\" c Фабрицио Фатуччи | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // breadcrumbs
      .breadcrumbs.breadcrumbs--mc-promo
        .section__container.breadcrumbs__container
          ul.section__text.section__text--small.breadcrumbs__list
            li.breadcrumbs__item: a(href="workshops.html") Мастер-классы
            li.breadcrumbs__item >
            li.breadcrumbs__item.active "Богатство Средиземноморья"

      // mc-promo
      .mc-promo
        .section__container.mc-promo__container
          .mc-promo__wrapper.mc-promo__wrapper--left
            h2.section__subtitle.mc-promo__title.mc-promo__title--to-left Богатство Средиземноморья" c Фабрицио Фатуччи
            .mc-promo__info
              ul.section__text.mc-promo__info-list
                  li.mc-promo__info-item Чт #[span.mc-promo__info-item--marked 24 Ноября 2015]
                  li.mc-promo__info-item #[span.mc-promo__info-item--marked в 19:00]
                  li.mc-promo__info-item #[span.mc-promo__info-item--marked Продолжительность 3 часа]
                  li.mc-promo__info-item #[span.mc-promo__info-item--marked.mc-promo__info-item--bold 5000 руб.]
            .mc-promo__image
              img(src="images/mk__promo.jpg", alt="")
          .mc-promo__wrapper.mc-promo__wrapper--right
            h2.section__subtitle.mc-promo__title Приготовим
            ol.section__text.mc-promo__cook-list
              li.mc-promo__cook-item Средиземноморский суп с кавателли (вид пасты), мидиями, белой фасолью и пекорино
              li.mc-promo__cook-item Спагетти с гребешками, чернилами каракатицы, томатами и чили
              li.mc-promo__cook-item Осьминог с пармантье из тоинамбура
            p.section__text.mc-promo__cooker Шеф - #[a.link(href="chief.html") Фабрицио Фаттучи] #[span.section__text.section__text--small.mc-promo__kitchen Итальянская кухня]
            p.section__text.section__text--medium.mc-promo__billet-left Осталось 3 места
            a.btn.btn--large.mc-promo__btn(href="#", data-toggle="modal", data-target="#modalWorkshopOrder") Записаться и оплатить

        .section__container
          // share
          .share
            span.section__text.share__title Поделиться:
            ul.share__list
              li.share__item
                a.share__item--facebook(href="#") Facebook
              li.share__item
                a.share__item--twitter(href="#") Twitter
              li.share__item
                a.share__item--mail(href="#") Мой мир
              li.share__item
                a.share__item--vk(href="#") Вконтакте
              li.share__item
                a.share__item--google(href="#") Google+

      - advantagesTitle = true
      include blocks/advantages/advantages

      // gallery
      .gallery
        .section__container.gallery__container
          h2.section__subtitle.gallery__title Как проходят корпоративы и личные праздники
          .gallery__wrapper
            ul.gallery__list
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery1.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery2.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery3.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery4.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery5.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery6.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery7.jpg", alt="")
              li.gallery__item: a(href="#"): .gallery__image
                img(src="images/mk__gallery8.jpg", alt="")

      // mc-preview
      .mc-preview
        .section__container.mc-preview__container
          h3.section__subtitle.mc-preview__title Рекомендуемые мастер-классы
          ul.mc-preview__list
            li.mc-preview__item
              h4.section__text.section__text--medium.mc-preview__subtitle Viva Italia. Горячий Хэллоуин с Фабрицио Фатуччи
              .mc-preview__image.mc-preview__image--bg
                img(src="images/mk__preview--viva.jpg")
                a.btn.mc-preview__btn.mc-preview__btn--more(href="#") Подробнее
                a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
              .mc-preview__content
                .mc-preview__recipe
                  span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                  ol.section__text.section__text--small.mc-preview__recipe-list
                    li.mc-preview__recipe-item Капуччино из тыквы с трюфелем
                    li.mc-preview__recipe-item Карпаччо из тыквы с креветками и руколой
                    li.mc-preview__recipe-item Сладкое тыквенное печенье
              .mc-preview__info
                ul.section__text.section__text--medium.mc-preview__info-list
                  li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 17 Ноября 2015]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 3700 руб.]
            li.mc-preview__item
              h4.section__text.section__text--medium.mc-preview__subtitle Апельсиновый рай с Нико ди Мауро
              .mc-preview__image.mc-preview__image--bg
                img(src="images/mk__preview--orange.jpg")
                a.btn.mc-preview__btn.mc-preview__btn--more(href="#") Подробнее
                a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
              .mc-preview__content
                .mc-preview__recipe
                  span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                  ol.section__text.section__text--small.mc-preview__recipe-list
                    li.mc-preview__recipe-item Паста с апельсинами
                    li.mc-preview__recipe-item Свиная грудинка с апельсином и корицей
                    li.mc-preview__recipe-item Апельсиновый мусс
              .mc-preview__info
                ul.section__text.section__text--medium.mc-preview__info-list
                  li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 25 Ноября 2015]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                  li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 4500 руб.]
              li.mc-preview__item
                h4.section__text.section__text--medium.mc-preview__subtitle "Богатство Средиземноморья" с Фабрицио Фатуччи
                .mc-preview__image.mc-preview__image--bg
                  img(src="images/mk__preview--borscht.jpg")
                  a.btn.mc-preview__btn.mc-preview__btn--more(href="#") Подробнее
                  a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
                .mc-preview__content
                  .mc-preview__recipe
                    span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                    ol.section__text.section__text--small.mc-preview__recipe-list
                      li.mc-preview__recipe-item Средиземноморский суп с кавателли мидиями, белой фасолью и пекорино
                      li.mc-preview__recipe-item Спагетти с гребешками, чернилами каракатицы, томатами и чили
                      li.mc-preview__recipe-item Осьминог с пармантье из тоинамбура
                .mc-preview__info
                  ul.section__text.section__text--medium.mc-preview__info-list
                    li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 30 Ноября 2015]
                    li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                    li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 5000 руб.]

      include blocks/modals/modal-workshop-deal

      include blocks/contacts/contacts
    include blocks/footer/footer
