doctype html
html(lang="ru")
  - title = "Мастер-классы | GUSTOMAESTRO"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    include blocks/top-panel/top-panel
    include blocks/header/header

    main.main
      // workshops
      .workshops
        .section__container.workshops__container
          nav.workshops__nav
            ul.workshops__tab-radio-list
              li.section__subtitle.workshops__title: a.active(href="#") Все мастер-классы
              li.section__subtitle.workshops__title: a(href="#") Взрослые
              li.section__subtitle.workshops__title: a(href="#") Детские
            .workshops__date.section__text.selectbox
              span.selectbox__text Предстоящие

          .mc-preview
            .section__container.mc-preview__container
              ul.mc-preview__list
                include blocks/mc-preview/mc-preview-nowrapper
                include blocks/mc-preview/mc-preview-nowrapper
                include blocks/mc-preview/mc-preview-nowrapper
                include blocks/mc-preview/mc-preview-nowrapper
                include blocks/mc-preview/mc-preview-nowrapper
                include blocks/mc-preview/mc-preview-nowrapper

          // pagination
          nav.pagination
            ul.pagination__list
              li.pagination__item: a.pagination__arrow(href="#")
              li.pagination__item: a(href="#") 1
              li.pagination__item: a.active(href="#") 2
              li.pagination__item: a(href="#") 3
              li.pagination__item ...
              li.pagination__item: a(href="#") 12
              li.pagination__item: a.pagination__arrow.pagination__arrow--left(href="#")

      // col-text-col-image
      section.col-text-col-image
        .section__container.col-text-col-image__container
          .col-text-col-image__content
            h3.section__subtitle.col-text-col-image__title На мастер-классах
            p.section__text.section__text--medium.col-text-col-image__text Вы сможете посетить не только курсы итальянской кухни, но и узнать секретные рецепты шеф-поваров со всего мира. Кулинарные мастер-классы посвящены разнообразным тематикам. Таким, как, «Мясо. Секреты от шефа », «Традиционная сицилийская кухня», «Домашняя паста» и многие другие. #[br] #[br] У каждого ученика будет возможность  не только приготовить и попробовать блюдо, но даже забрать домой, чтобы угостить близких. Кроме того, в кулинарной школе предусмотрены занятия для самых маленьких – детские кулинарные мастер-классы и уроки, а также школа этикета bambini.
          .col-text-col-image__image
            img(src="images/mk__promo-preview.jpg")

      include blocks/modals/modal-waiting-list

      include blocks/contacts/contacts
    include blocks/footer/footer
