// mc-preview
.mc-preview
  .section__container.mc-preview__container
    if mcPreviewTitle
      h3.section__title.mc-preview__title Рекомендуемые мастер-классы
    else
      ul.mc-preview__list
        li.mc-preview__item
          a.target-link(href="workshop.html")
          h4.section__text.section__text--medium.mc-preview__subtitle Viva Italia. Горячий Хэллоуин с Фабрицио Фатуччи
          .mc-preview__image.mc-preview__image--bg
            img(src="images/mk__preview--viva.jpg")
            a.btn.mc-preview__btn.mc-preview__btn--more(href="workshop.html") Подробнее
            a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
          .mc-preview__content
            .mc-preview__recipe
              span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
              ol.section__text.section__text--small.mc-preview__recipe-list
                li.mc-preview__recipe-item Капуччино из тыквы с трюфелем
                li.mc-preview__recipe-item Карпаччо из тыквы с креветками и руколой
                li.mc-preview__recipe-item Сладкое тыквенное печенье
          span.section__text.section__text--medium.mc-preview__billet-left Осталось #[span.mc-preview__info-item--marked 3 места]
          .mc-preview__info
            ul.section__text.section__text--medium.mc-preview__info-list
              li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 17 Ноября 2015]
              li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
              li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 3700 руб.]
        li.mc-preview__item
          a.target-link(href="workshop.html")
          h4.section__text.section__text--medium.mc-preview__subtitle Апельсиновый рай с Нико ди Мауро
          .mc-preview__image.mc-preview__image--bg
            img(src="images/mk__preview--orange.jpg")
            a.btn.mc-preview__btn.mc-preview__btn--more(href="workshop.html") Подробнее
            a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
          .mc-preview__content
            .mc-preview__recipe
              span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
              ol.section__text.section__text--small.mc-preview__recipe-list
                li.mc-preview__recipe-item Паста с апельсинами
                li.mc-preview__recipe-item Свиная грудинка с апельсином и корицей
                li.mc-preview__recipe-item Апельсиновый мусс
          span.section__text.section__text--medium.mc-preview__billet-left Осталось #[span.mc-preview__info-item--marked 5 мест]
          .mc-preview__info
            ul.section__text.section__text--medium.mc-preview__info-list
              li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 25 Ноября 2015]
              li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
              li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 4500 руб.]
          li.mc-preview__item
            a.target-link(href="workshop.html")
            h4.section__text.section__text--medium.mc-preview__subtitle "Богатство Средиземноморья" с Фабрицио Фатуччи
            .mc-preview__image.mc-preview__image--bg
              img(src="images/mk__preview--borscht.jpg")
              a.btn.mc-preview__btn.mc-preview__btn--more(href="workshop.html") Подробнее
              a.btn.mc-preview__btn.mc-preview__btn--enroll(href="#") Записаться
            .mc-preview__content
              .mc-preview__recipe
                span.section__text.section__text--small.mc-preview__recipe-title Приготовим:
                ol.section__text.section__text--small.mc-preview__recipe-list
                  li.mc-preview__recipe-item Средиземноморский суп с кавателли мидиями, белой фасолью и пекорино
                  li.mc-preview__recipe-item Спагетти с гребешками, чернилами каракатицы, томатами и чили
                  li.mc-preview__recipe-item Осьминог с пармантье из тоинамбура
            span.section__text.section__text--medium.mc-preview__billet-left Осталось #[span.mc-preview__info-item--marked 9 мест]
            .mc-preview__info
              ul.section__text.section__text--medium.mc-preview__info-list
                li.mc-preview__info-item Чт #[span.mc-preview__info-item--marked 30 Ноября 2015]
                li.mc-preview__info-item #[span.mc-preview__info-item--marked в 19:00]
                li.mc-preview__info-item #[span.mc-preview__info-item--marked.mc-preview__info-item--bold 5000 руб.]
