
<li class="mc-preview__item"><a href="workshop.html" class="target-link"></a>
  <h4 class="section__text section__text--medium mc-preview__subtitle">Viva Italia. Горячий Хэллоуин с Фабрицио Фатуччи</h4>
  <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--viva.jpg"/><a href="workshop.html" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" data-toggle="modal" data-target="#modalWaitingList" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
  <div class="mc-preview__content">
    <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
      <ol class="section__text section__text--small mc-preview__recipe-list">
        <li class="mc-preview__recipe-item">Капуччино из тыквы с трюфелем</li>
        <li class="mc-preview__recipe-item">Карпаччо из тыквы с креветками и руколой</li>
        <li class="mc-preview__recipe-item">Сладкое тыквенное печенье</li>
      </ol>
    </div>
  </div><span class="section__text section__text--medium mc-preview__billet-left">Осталось <span class="mc-preview__info-item--marked">3 места</span></span>
  <div class="mc-preview__info">
    <ul class="section__text section__text--medium mc-preview__info-list">
      <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">17 Ноября 2015</span></li>
      <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
      <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">3700 руб.</span></li>
    </ul>
  </div>
</li>
<li class="mc-preview__item"><a href="workshop.html" class="target-link"></a>
  <h4 class="section__text section__text--medium mc-preview__subtitle">Апельсиновый рай с Нико ди Мауро</h4>
  <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--orange.jpg"/><a href="workshop.html" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" data-toggle="modal" data-target="#modalWaitingList" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
  <div class="mc-preview__content">
    <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
      <ol class="section__text section__text--small mc-preview__recipe-list">
        <li class="mc-preview__recipe-item">Паста с апельсинами</li>
        <li class="mc-preview__recipe-item">Свиная грудинка с апельсином и корицей</li>
        <li class="mc-preview__recipe-item">Апельсиновый мусс</li>
      </ol>
    </div>
  </div><span class="section__text section__text--medium mc-preview__billet-left">Осталось <span class="mc-preview__info-item--marked">5 мест</span></span>
  <div class="mc-preview__info">
    <ul class="section__text section__text--medium mc-preview__info-list">
      <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">25 Ноября 2015</span></li>
      <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
      <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">4500 руб.</span></li>
    </ul>
  </div>
</li>
<li class="mc-preview__item"><a href="workshop.html" class="target-link"></a>
  <h4 class="section__text section__text--medium mc-preview__subtitle">"Богатство Средиземноморья" с Фабрицио Фатуччи</h4>
  <div class="mc-preview__image mc-preview__image--bg"><img src="images/mk__preview--borscht.jpg"/><a href="workshop.html" class="btn mc-preview__btn mc-preview__btn--more">Подробнее</a><a href="#" data-toggle="modal" data-target="#modalWaitingList" class="btn mc-preview__btn mc-preview__btn--enroll">Записаться</a></div>
  <div class="mc-preview__content">
    <div class="mc-preview__recipe"><span class="section__text section__text--small mc-preview__recipe-title">Приготовим:</span>
      <ol class="section__text section__text--small mc-preview__recipe-list">
        <li class="mc-preview__recipe-item">Средиземноморский суп с кавателли мидиями, белой фасолью и пекорино</li>
        <li class="mc-preview__recipe-item">Спагетти с гребешками, чернилами каракатицы, томатами и чили</li>
        <li class="mc-preview__recipe-item">Осьминог с пармантье из тоинамбура</li>
      </ol>
    </div>
  </div><span class="section__text section__text--medium mc-preview__billet-left">Осталось <span class="mc-preview__info-item--marked">9 мест</span></span>
  <div class="mc-preview__info">
    <ul class="section__text section__text--medium mc-preview__info-list">
      <li class="mc-preview__info-item">Чт <span class="mc-preview__info-item--marked">30 Ноября 2015</span></li>
      <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked">в 19:00</span></li>
      <li class="mc-preview__info-item"><span class="mc-preview__info-item--marked mc-preview__info-item--bold">5000 руб.</span></li>
    </ul>
  </div>
</li>