
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
<script src="js/util.js"></script>
<script src="js/modal.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/main.js"></script><!-- endbuild -->