script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
<!-- build:js -->
script(src="js/util.js")
script(src="js/modal.js")
script(src="js/jquery.maskedinput.min.js")
script(src="js/main.js")
<!-- endbuild -->
