// Breakpoints for each query
$smartphone: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;
@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}

$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 28px;
$font-size-h4: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;

$container: 1170px;

$sans-serif: 'Roboto', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$serif: "Roboto Slab", "Georgia", serif;

$main-color: #a33208;

@mixin container {
  width: $container;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
}
