// advantages
if advantagesTitle
  section.advantages.advantages--less-padding
    .section__container.advantages__container
      h3.section__subtitle.advantages__title.advantages__title--less-padding Как проходят мастер-классы
      ul.advantages__list
        li.advantages__item
          .advantages__image.advantages__image--chief
          p.section__text.advantages__text Каждый гость полностью участвует в приготовлении своего блюда, минуя при этом процессы заготовки продуктов
        li.advantages__item
          .advantages__image.advantages__image--dish
          p.section__text.advantages__text Можно заказывать еду и напитки в ресторане GUSTO. На мастер-классе работают официанты
        li.advantages__item
          .advantages__image.advantages__image--plate
          p.section__text.advantages__text Высокое техническое оснащение: итальянская техника SMEG, фарфор ЛФЗ, посуда Villeroy&Boch
else
  section.advantages
    .section__container.advantages__container
      h3.section__subtitle.advantages__title У нас на мероприятиях
      ul.advantages__list
        li.advantages__item
          .advantages__image.advantages__image--chief
          p.section__text.advantages__text Каждый гость полностью участвует в приготовлении своего блюда, минуя при этом процессы заготовки продуктов
        li.advantages__item
          .advantages__image.advantages__image--dish
          p.section__text.advantages__text Можно заказывать еду и напитки в ресторане GUSTO. На мастер-классе работают официанты
        li.advantages__item
          .advantages__image.advantages__image--plate
          p.section__text.advantages__text Высокое техническое оснащение: итальянская техника SMEG, фарфор ЛФЗ, посуда Villeroy&Boch
