// footer
.footer
  .section__container.footer__container
    .footer__logo
    nav.footer__menu
      ul.footer__list
        li.footer__item: a(href="workshops.html") Мастер-классы
        li.footer__item: a.active(href="celebration.html") Праздники и корпоративы
        li.footer__item: a(href="about.html") О школе и поварах
        li.footer__item: a(href="gallery.html") Галерея
        li.footer__item: a(href="partners.html") Партнёры
        li.footer__item: a(href="blog.html") Блог шеф-повара
        li.footer__item: a(href="contacts.html") Контакты
      ul.footer__labels
        li.footer__labels-item Copyright © 2015 GUSTOMAESTRO
        li.footer__labels-item Сделано в Astralite

include ../js-script/js-script
