
<!-- footer-->
<div class="footer">
  <div class="section__container footer__container">
    <div class="footer__logo"></div>
    <nav class="footer__menu">
      <ul class="footer__list">
        <li class="footer__item"><a href="workshops.html">Мастер-классы</a></li>
        <li class="footer__item"><a href="celebration.html" class="active">Праздники и корпоративы</a></li>
        <li class="footer__item"><a href="about.html">О школе и поварах</a></li>
        <li class="footer__item"><a href="gallery.html">Галерея</a></li>
        <li class="footer__item"><a href="partners.html">Партнёры</a></li>
        <li class="footer__item"><a href="blog.html">Блог шеф-повара</a></li>
        <li class="footer__item"><a href="contacts.html">Контакты</a></li>
      </ul>
      <ul class="footer__labels">
        <li class="footer__labels-item">Copyright © 2015 GUSTOMAESTRO</li>
        <li class="footer__labels-item">Сделано в Astralite</li>
      </ul>
    </nav>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- build:js -->
<script src="js/util.js"></script>
<script src="js/modal.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/main.js"></script><!-- endbuild -->