.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.cal1 {
  background-color: #e7e4dd;
  font-family: "Roboto Slab", "Georgia", serif;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  color: #5c4739;
  padding-bottom: 17px;
}
.cal1 .clndr .clndr-controls {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 21px 35px;
  box-sizing: border-box;
}
.cal1 .clndr .clndr-controls .month {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
  margin-bottom: 1px;
}
.cal1 .clndr .clndr-controls .clndr-control-button span {
  border: none;
  border-radius: 50%;
  background-color: #a33208;
  width: 29px;
  height: 29px;
  min-width: 29px;
  padding: 0;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

.cal1 .clndr .clndr-controls .clndr-control-button span:hover {
  background-color: #6d2105;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:before,
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:before {
  content: "";
  width: 8px;
  height: 14px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14.03' viewBox='0 0 8 14.03' fill='%23fff'%3E%3Cpath class='cls-1' d='M1.64 0A1.572 1.572 0 0 1 2.8.53l4.72 5.2a1.907 1.907 0 0 1 0 2.53L2.8 13.47a1.544 1.544 0 0 1-2.32.01 1.92 1.92 0 0 1 0-2.54L4.05 7 .48 3.06a1.92 1.92 0 0 1 0-2.54A1.561 1.561 0 0 1 1.64 0z'/%3E%3C/svg%3E");
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:before {
  margin-left: 3px;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 1px;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
  padding: 0 22px;
}
.cal1 .clndr .clndr-table .header-days {
  height: 30px;
  font-size: 10px;
  background: #0D70A6;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  color: #fff;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  border-right: 1px solid #000000;
}
.cal1 .clndr .clndr-table tr {
  height: 85px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  background-color: #ecebe8;
  border: 2px solid #e7e4dd;
  width: 161px;
  height: 161px;
  padding: 13px 17px;
  box-sizing: border-box;
  position: relative;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  font-size: 24px;
  text-align: left;
  color: #8d8783;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month,
.cal1 .clndr .clndr-table tr .my-empty,
.cal1 .clndr .clndr-table tr .my-adjacent-month {
  border-left: none;
  border-top: none;
  width: 100%;
  height: inherit;
  background: transparent;
}
.clndr-next-button,
.clndr-previous-button,
.clndr-next-year-button,
.clndr-previous-year-button {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clndr-next-button.inactive,
.clndr-previous-button.inactive,
.clndr-next-year-button.inactive,
.clndr-previous-year-button.inactive {
  opacity: 0.5;
  cursor: default;
}

.calendar-thead {
  table-layout: fixed;
  width: 100%;
  background-color: #dbd7d0;
  padding: 6px 22px 5px;
  margin-bottom: 18px;
}

.header-day {
  text-align: center;
  font-size: 24px;
}

 .adjacent-month .day-contents {
  display: none;
 }

 .cal1 .clndr .clndr-table tr .day .day-contents.active {
  color: #5c4739;
 }

.calendar-subtitle {
  font-size: 14px !important;
  font-family: "Roboto Slab", "Georgia", serif;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;
}

@media (max-width: 1207px) {
  .calendar-subtitle {
    width: 98px;
  }
}

@media (max-width: 980px) {
  .calendar-subtitle {
    width: 75px;
  }
}

.calendar-time {
  color: #a33208;
  display: block;
  font-size: 18px;
  padding-top: 4px;
}

.calendar-workshop-preview.unactive .calendar-time {
  color: #8d8783;
}

.mc-background {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
}

.mc-background:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .7);
  z-index: 9000;
}

.calendar-workshop-preview.unactive {
  color: #8d8783;
}

.calendar-modal {
  display: none;
  position: absolute;
  background-color: #ecebe8;
  z-index: 5;
}

.cal1 .mc-preview {
  padding-bottom: 100px;
}

.cal1 .mc-preview .section__title {
  padding-bottom: 52px;
}

.cal1 .mc-preview__title {
  padding-bottom: 42px;
  text-align: center;
}

.cal1 .mc-preview__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cal1 .mc-preview__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 370px;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid #9b9b9b;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  overflow: hidden;
  z-index: 5;
  color: #5c4739;
  margin: 0;
}

.cal1 .mc-preview__item {
  border-color: #a33208;
}

.cal1 .mc-preview__item .mc-preview__image--bg:before,
.cal1 .mc-preview__item .mc-preview__btn {
  opacity: 1;
}

.cal1 .mc-preview__billet-left {
  font-family: 'Roboto Slab', 'Georgia', serif;
  display: block;
  padding-bottom: 10px;
}

.cal1 .mc-preview__btn {
  position: absolute;
  top: 35px;
  right: 0;
  left: 0;
  width: 190px;
  margin: auto;
}

.cal1 .mc-preview__btn--enroll {
  top: 100px;
}

.cal1 .mc-preview__image {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 180px;
  margin-bottom: 16px;
}

.cal1 .mc-preview__image img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.cal1 .mc-preview__image--bg:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
  background-color: rgba(255, 255, 255, .15);
}

.cal1 .mc-preview__subtitle {
  line-height: 19px;
  padding: 11px 17px;
  font-family: "Roboto Slab", "Georgia", serif;
}

.cal1 .mc-preview__content,.mc-preview__billet-left {
  padding-right: 22px !important;
  padding-left: 17px !important;
}

.cal1 .mc-preview__info {
  margin-right: 22px;
  margin-left: 17px;
}

.cal1 .mc-preview__content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cal1 .mc-preview__recipe-title {
  font-family: 'Roboto Slab', 'Georgia', serif;
  display: block;
  padding-bottom: 0;
}

.cal1 .mc-preview__recipe-list {
  padding-left: 14px;
}

.cal1 .mc-preview__recipe-item {
  padding-bottom: 10px;
}

.cal1 .mc-preview__info {
  padding-top: 11px;
  padding-bottom: 27px;
  border-top: 1px solid #9b9b9b;
}

.cal1 .mc-preview__info-list {
  font-family: 'Roboto Slab', 'Georgia', serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.cal1 .mc-preview__info-item {
  position: relative;
}

.cal1 .mc-preview__info-item:after {
  position: absolute;
  top: 4px;
  right: -18px;
  width: 1px;
  height: 14px;
  content: '';
  background-color: #9b9b9b;
}

.cal1 .mc-preview__info-item:last-child:after {
  display: none;
}

.cal1 .mc-preview__info-item--marked {
  color: #a33208;
}

.cal1 .mc-preview__info-item--bold {
  font-weight: bold;
}

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.disable {
  background-color: #b1b1b1;
  pointer-events: none;
  cursor: default;
}
@media (max-width: 1207px) {
  .cal1 .clndr .clndr-table tr .day {
    height: 128px;
    width: 128px;
  }

  .cal1 .calendar-subtitle {
    width: 95px;
  }
}

@media (max-width: 980px) {
  .cal1 .clndr .clndr-table tr .day {
    height: 103px;
    width: 103px;
  }

  .cal1 .calendar-subtitle {
    width: 75px;
  }
}

@media (max-width: 813px) {
  .cal1 {
    display: none;
  }
}


#circularG {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 45px;
  height: 45px;
  margin: 140px auto;
  z-index: 9001;
}

.workshops #circularG {
  margin-top: 80px;
}

.circularG{
  position:absolute;
  background-color:#a33208;
  width:10px;
  height:10px;
  border-radius:7px;
    -o-border-radius:7px;
    -ms-border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
  animation-name:bounce_circularG;
    -o-animation-name:bounce_circularG;
    -ms-animation-name:bounce_circularG;
    -webkit-animation-name:bounce_circularG;
    -moz-animation-name:bounce_circularG;
  animation-duration:0.818s;
    -o-animation-duration:0.818s;
    -ms-animation-duration:0.818s;
    -webkit-animation-duration:0.818s;
    -moz-animation-duration:0.818s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#circularG_1{
  left:0;
  top:18px;
  animation-delay:0.308s;
    -o-animation-delay:0.308s;
    -ms-animation-delay:0.308s;
    -webkit-animation-delay:0.308s;
    -moz-animation-delay:0.308s;
}

#circularG_2{
  left:4px;
  top:4px;
  animation-delay:0.404s;
    -o-animation-delay:0.404s;
    -ms-animation-delay:0.404s;
    -webkit-animation-delay:0.404s;
    -moz-animation-delay:0.404s;
}

#circularG_3{
  top:0;
  left:18px;
  animation-delay:0.51s;
    -o-animation-delay:0.51s;
    -ms-animation-delay:0.51s;
    -webkit-animation-delay:0.51s;
    -moz-animation-delay:0.51s;
}

#circularG_4{
  right:4px;
  top:4px;
  animation-delay:0.616s;
    -o-animation-delay:0.616s;
    -ms-animation-delay:0.616s;
    -webkit-animation-delay:0.616s;
    -moz-animation-delay:0.616s;
}

#circularG_5{
  right:0;
  top:18px;
  animation-delay:0.712s;
    -o-animation-delay:0.712s;
    -ms-animation-delay:0.712s;
    -webkit-animation-delay:0.712s;
    -moz-animation-delay:0.712s;
}

#circularG_6{
  right:4px;
  bottom:4px;
  animation-delay:0.818s;
    -o-animation-delay:0.818s;
    -ms-animation-delay:0.818s;
    -webkit-animation-delay:0.818s;
    -moz-animation-delay:0.818s;
}

#circularG_7{
  left:18px;
  bottom:0;
  animation-delay:0.914s;
    -o-animation-delay:0.914s;
    -ms-animation-delay:0.914s;
    -webkit-animation-delay:0.914s;
    -moz-animation-delay:0.914s;
}

#circularG_8{
  left:4px;
  bottom:4px;
  animation-delay:1.02s;
    -o-animation-delay:1.02s;
    -ms-animation-delay:1.02s;
    -webkit-animation-delay:1.02s;
    -moz-animation-delay:1.02s;
}



@keyframes bounce_circularG{
  0%{
    transform:scale(1);
  }

  100%{
    transform:scale(.3);
  }
}

@-o-keyframes bounce_circularG{
  0%{
    -o-transform:scale(1);
  }

  100%{
    -o-transform:scale(.3);
  }
}

@-ms-keyframes bounce_circularG{
  0%{
    -ms-transform:scale(1);
  }

  100%{
    -ms-transform:scale(.3);
  }
}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1);
  }

  100%{
    -webkit-transform:scale(.3);
  }
}

@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1);
  }

  100%{
    -moz-transform:scale(.3);
  }
}
